.wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #093147;
}

.result-item {
  background: #29918e;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: "Noto Sans Mono", monospace;
}

.title-results {
  color: white;
  margin-bottom: 32px;
  text-align: center;
}

.content1 {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  cursor: pointer;
  font-family: "Lora", serif;
}

.content1.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.rotate {
  transform: rotate(45deg);
}

@media (max-width: 480px) {
  b {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  b {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  b {
    font-size: 15px;
  }
}
@media (max-width: 950px) {
  b {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  b {
    font-size: 20px;
  }
}
