@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+Mono:wght@500&family=Roboto+Mono:wght@200;400&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.count-down {
  display: flex;
  justify-content: space-around;
}
.day,
.hour,
.minute,
.second {
  font-size: 4rem;
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.numberCount {
  display: flex;
  padding: 60px 0px;
  background-color: rgb(233, 237, 240, 0.3);
}
.numberCount h4 {
  display: flex;
  justify-content: center;

  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 255, 255);
}
.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 5, 5, 0.3);
}
.container-register a {
  font-family: "Lora", serif;
  color: aquamarine;
  font-size: 3rem;
  text-decoration: none;
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.comming-soon {
  width: 100%;
}

.hacker-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  object-fit: cover;
}

.navigation {
  position: absolute;
  z-index: 1;
  width: 100%;
}

@media (max-width: 575px) {
  .navBar {
    position: relative;
  }
}

@media (max-width: 1024px) {
  .container-register a {
    font-size: 3rem;
  }
  .day,
  .hour,
  .minute,
  .second {
    font-size: 4rem;
  }
  .numberCount h4 {
    font-size: 1rem;
  }
}

@media (max-width: 950px) {
  .container-register a {
    font-size: 2.5rem;
  }
  .day,
  .hour,
  .minute,
  .second {
    font-size: 3.5rem;
  }
  .numberCount h4 {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .container-register a {
    font-size: 2rem;
  }
  .day,
  .hour,
  .minute,
  .second {
    font-size: 3rem;
  }
  .numberCount h4 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container-register a {
    font-size: 1.5rem;
  }

  .day,
  .hour,
  .minute,
  .second {
    font-size: 2.5rem;
  }
  .numberCount h4 {
    font-size: 0.5rem;
  }
}
